.line {
  border-top: 1px solid #d3d3d3;
  position: relative;
}

.row {
  padding: 2.5rem 0;
}

.image {
  height: 8.75rem;
  max-height: 8.75rem;
  max-width: 8.75rem;
  width: 8.75rem;
}
