.header {
  /* padding: 2rem 10%; */
  margin: 2rem 10%;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover,
a.active {
  text-decoration: underline;
}

